In [21]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import xlrd
book = xlrd.open_workbook("C:\seleniumdrivers\Data Science Jobs.x

SyntaxError: invalid syntax (Temp/ipykernel_3404/1730766021.py, line 4)

In [31]:
path = "C:\seleniumdrivers\Data Science Jobs.xls"

In [24]:
# Importing openpyxl module
import openpyxl

In [25]:
# Location of the file
path = "C:\seleniumdrivers\Dat Science Jobs.xlsx"

In [26]:
# Workbook object is created to open the workbook
wb_obj = openpyxl.load_workbook(path)

In [27]:
# Getting the workbook active sheet object and workbook object is created
sheet_obj = wb_obj.active

In [28]:
# Cell object is created by the use of the sheet object method
cell_obj = sheet_obj['A1' : 'B15']

In [29]:
# Printing the value of the cell object by using the value attribute
for cell1, cell2 in cell_obj:
    print(cell1.value, cell2.value)

Job Title Company
Senior Data Scientist Philips
Senior Data Scientist GSK
Senior Data Scientist Thales India Pvt Ltd
Senior Data Scientist and Engineer Sportism
Data Analyst/ Data Scientist Data Analytics & Visualizations SGS Global Services Pvt. Limited
Staff Data Scientist Walmart
Data Scientist Walmart
Sr. Data Scientist Silicon Valley Bank
Data Scientist 2 Paypal
Lead Data Scientist Thoucentric Technology Ltd
Senior Data Scientist Flipkart
Data Scientist Medi Assist Insurance TPA Pvt Ltd
Data Scientist Medi Assist Insurance TPA Pvt Ltd
Associate Data Scientist Experion Global

In [33]:
# Getting workbook active object from the active attribute
sheet_obj = wb_obj.active

In [35]:
# Getting the value of maximum rows and columns
row = sheet_obj.max_row
column = sheet_obj.max_column

In [36]:
print("\nValue of second column")
for i in range(2, row + 2):
    cell_obj = sheet_obj.cell(row = i, column = 2)
    print(cell_obj.value)

Value of second column
Philips
GSK
Thales India Pvt Ltd
Sportism
SGS Global Services Pvt. Limited
Walmart
Walmart
Silicon Valley Bank
Paypal
Thoucentric Technology Ltd
Flipkart
Medi Assist Insurance TPA Pvt Ltd
Medi Assist Insurance TPA Pvt Ltd
Experion Global
None

In [37]:
print("\nValue of second column")
for i in range(3, row + 3):
    cell_obj = sheet_obj.cell(row = i, column = 3)
    print(cell_obj.value)

Value of second column
Bangalore/Bengaluru
Gurgaon/Gurugram
Chennai
Sector-2 Noida
Bangalore/Bengaluru
Bangalore/Bengaluru
Bangalore/Bengaluru
Bangalore/Bengaluru
Bangalore/Bengaluru (Mahadevpura, Bellandur, HSR Layout )
Bangalore/Bengalaru
Bangalore/Bengalaru
Bangalore/Bengalaru
Kochi/Cochin, Bangalore/Bengalaru, Trivandrum-Thiruvananthapuram
None
None

In [38]:
print("\nValue of second column")
for i in range(4, row + 4):
    cell_obj = sheet_obj.cell(row = i, column = 4)
    print(cell_obj.value)

Value of second column
https://thales.wd3.myworkdayjobs.com/en-US/Careers/job/Haryana---Gurgaon/Sr-Data-Scientist_R0149714
https://www.naukri.com/job-listings-sr-data-scientist-and-engineer-sportism-chennai-5-to-10-years-200422902105?src=jobsearchDesk&sid=16506418562407564&xp=5&px=1
https://www.naukri.com/job-listings-data-analyst-data-scientist-data-analytics-visualizations-sgs-global-services-private-limited-noida-2-to-4-years-210422005011?src=jobsearchDesk&sid=16506418562407564&xp=6&px=1
https://walmart.cluster3.openings.co/#!/job-view/staff-data-scientist-bengaluru-karnataka-india-2022030312412144
https://walmart.cluster3.openings.co/#!/job-view/data-scientist-bengaluru-karnataka-india-2022040510244826
https://svb.wd5.myworkdayjobs.com/en-US/svbank/job/Bangalore-India/Sr-Data-Scientist_16877-1
https://jobsearch.paypal-corp.com/en-US/job/job-details/J3T78N68LF2C2HM2BQK
https://www.naukri.com/job-listings-lead-data-scientist-thoucentric-technology-pvt-ltd-bangalore-bengaluru-6-to-10-years-200422005991?src=jobsearchDesk&sid=16506418562407564&xp=11&px=1
https://www.flipkartcareers.com/#!/job-view/senior-data-scientist-bangalore-karnataka-2022041212000524
https://www.naukri.com/job-listings-data-scientist-medi-assist-insurance-tpa-pvt-ltd-bangalore-bengaluru-1-to-5-years-200422003464?src=jobsearchDesk&sid=16506418562407564&xp=14&px=1
https://www.naukri.com/job-listings-data-scientist-medi-assist-insurance-tpa-pvt-ltd-bangalore-bengaluru-1-to-5-years-200422603466?src=jobsearchDesk&sid=16506418562407564&xp=13&px=1
https://www.naukri.com/job-listings-associate-data-scientist-experionglobal-kochi-cochin-bangalore-bengaluru-trivandrum-thiruvananthapuram-5-to-10-years-210422500873?src=jobsearchDesk&sid=16506418562407564&xp=15&px=1
None
None
None